
.logo{
    color: black;
    font-weight: bold;
    font-size: 10px;
    border-right: 1px solid dimgray;
    text-align: center;
    margin: 0  20px;
    padding-right: 10px;

}

.about{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.main-navbar-layout {
    background: deepskyblue;
    border: 2px solid dimgray;
    border-radius: 5px;
    padding: 5px 5px;
    align-items: center;
}

.router-link {
    font-size: 16px;
    margin-right: 2%;
    width: 10%;
    color: black;
}

.navbar-items {
    display: block;
    width: 100%;
    margin-left: 5%;
    font-weight: bold;
    text-align: left;
}

.grid-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.forms-style {
    width: 100%;
    border: 2px solid dimgray;
    border-radius: 5px;
}


vaadin-grid-cell-content {
    font-size: 14px;
}

.horizontalLayoutAlignment {
    align-items: center;
}